[init]
  defaultBranch = master
[diff]
  tool = vimdiff
  noprefix = true
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[color]
  ui = true
[user]
  name = Zhdanov
  email = evdev34@gmail.com
[grep]
  linenumber = true
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
  editor = /usr/bin/vim
  pager = `which diff-so-fancy` | less --tabs=4 -RFX
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
